.container {
  max-width: 1120px;
  width: 100%;
  margin: 2.5rem auto 0;
  padding: 0;
  box-sizing: content-box;
  
}

.table {
  width: 100%;
  border-collapse: separate;
  border-spacing: 0 0.5rem;
  margin-top: 1.5rem;

  td {
    padding: 1.25rem 2rem;
    background-color: #29292E;

    &:first-child {
      border-top-left-radius: 6px;
      border-bottom-left-radius: 6px;
    }

    &:last-child {
      border-top-right-radius: 6px;
      border-bottom-right-radius: 6px;
    }

    &.income {
      color: #00875F;
    }
    &.outcome {
      color: #AB222E;
    }
  }
}
